body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

.bold-title {
  font-weight: bold; 

}

.stat-label {
  font-size: 0.85em;

}

.stat {
  font-size: 1em;
  color: red;
}

